
@ViewBag["Title"] = "Failure";


<head>
  <title>Payment Fail</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
    <p>
      Payment has Failed, please try again
      <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
  </section>
</body>